<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu principal</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div> 
        <ion-button fill="clear" (click)="mostrarLista()" >Lista de participantes</ion-button>
      </div> 
    </ion-content>   
    <div style="margin-top: auto;">
      <ion-button (click)="cerrarMenu()" fill="clear">
        <h3 style="color: red; font-size: 18px;">Salir</h3>
      </ion-button>
    </div>
  </ion-menu>
  <div class="ion-page" id="main-content"  >
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Lista de participantes</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" style="text-align: center;" *ngIf="mostrarListaParticipantes" >
      <ion-list>
        <ion-card-content *ngFor="let participante of datos, let i = index ">
          <ion-card>
            <img [src]="participante.foto"  style="border-radius: 3%;"/>
            <ion-card-content>
              <h1>{{ participante.Nombre }} {{ participante.Apellido }}</h1>
              <br>
              <div>{{participante['Descripción']}}</div>
            </ion-card-content>  
            <ion-list>
              <ion-item>
                {{ participante.Actividad }} 
              </ion-item>
              <ion-item>
                {{extraerHora(participante.Hora_entrada)}} - {{extraerHora(participante.Hora_salida)}}
              </ion-item>
              <ion-item>
                {{participante['Clasificación']}}
              </ion-item>
              <ion-item [ngClass]="participante.Estado === 'Activo'? 'activo' : 'inactivo'">
                {{participante.Estado}}
              </ion-item>
              <ion-item>
                <div style="display: flex; justify-content: space-between;width: 100%;">
                  <ion-button fill="clear"
                    [ngStyle]="{'color': participante.Estado === 'Inactivo' ? 'green' : 'grey', 'font-weight':'bold'}"
                    (click) = "cambiarColorVerde(i)"
                    [disabled]="participante.Estado === 'Inactivo' ? false : true">
                    Cambiar a Verde 
                  </ion-button>
                  <ion-button fill="clear"
                    [ngStyle]="{'color': participante.Estado === 'Activo' ? 'red' : 'grey', 'font-weight': 'bold'}"
                    (click) = "cambiarColorRojo(i)"
                    [disabled]="participante.Estado === 'Activo' ? false : true">
                    Cambiar a Rojo (MODIFICACION)
                  </ion-button>
                </div>
              </ion-item>
            </ion-list>
          </ion-card>  
        </ion-card-content>
      </ion-list>
    </ion-content>
  </div>
</ion-content>
